.card {
  padding: 2em;
}

.flex {
  display: flex;
}

.sidebar {
  width: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-right: 1px solid #d0d2d7;
  padding-right: 20px;
}

.canvas-playground {
  position: relative;
}

.ant-upload {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.shape-btn {
  border: 1px solid #d0d2d7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  color: rgb(107 114 128);
  margin-top: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shape-btn:hover {
  background-color: #1677ff;
  color: white;
}

.tool-active {
  background-color: #1677ff;
  color: white;
}
